<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbarStyle.css' %}">
  </head>
  <nav class="navbar navbar-expand-lg navbar-light" >
    <a class="navbar-brand" href="/lab-4/">Table View</a>
    <a class="navbar-brand" href="/lab-4/note-list/">Card View</a>
    <a class="navbar-brand" href="/lab-4/add-note/">Add Note</a>
  </nav>
