<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Card Note</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/cardStyle.css' %}">
  </head>
  <body>
    <div class="heading1">
      <div class="heading2">
        <h1 class="text-center">Welcome to A Random Notes</h1>
        <small class="text-center">Wanna write yours? Click <a href="http://localhost:8000/lab-4/add-note/" style="text-decoration: none">"Add Note"</a></small>
      </div>  
      {% include "lab4_navbar.html" %}
      <div class="row w-100 justify-content-md-center">
        {% for note in notes %}
          <div class="card border-dark" style="width: 37rem;">
            <div class="col-sm-12">
              <div class="card-body">
                <div class="card-header text-center">From: {{note.from_who}}<br>To: {{note.to}}</div>
                <h2 class="card-title text-center">{{note.title}}</h2>
                <p class = "text-center">{{note.message}}</p>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
          
    </table>
  </body>
</html>


