<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend Form</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'css/formStyle.css' %}">
  </head>
  <body>
    <div class="heading1">
      <h1>Note Form</h1>
      <small>Wanna confide or confess? Write it here 😉</small>
    </div>
    {% include "lab4_navbar.html" %}
    <form action="" method="POST" >
      {% csrf_token %}
        <p>
          <label for="from_who">From:</label>
          <input type="text" id="from_who" name="from_who" align="left" placeholder="Write your name/alias" 
            maxlength="30" required pattern=".*\S.*"
            oninvalid="this.setCustomValidity('Please write your name')"
            oninput="setCustomValidity('')">
        </p>
        <p>
          <label for="to">To:</label>
          <input type="text" id="to" name="to" align="left" placeholder="Who is this message for?" 
            maxlength="30" required pattern=".*\S.*" 
            oninvalid="this.setCustomValidity('Please tell us <3')"
            oninput="setCustomValidity('')">
        </p>
        <p>
          <label for="title" >Title:</label>
          <input type="text" id="title" name="title" align="left" placeholder="Write the title here" 
            maxlength="30" required pattern=".*\S.*"
            oninvalid="this.setCustomValidity('Please write a title')"
            oninput="setCustomValidity('')">
        </p>
        <p>
          <label for="messages" class="form-label">Message:</label>
          <textarea  id="message" name="message" cols="100" rows="5" align="left" placeholder="Write your message here" 
            maxlength="500" required pattern=".*\S.*"
            oninvalid="this.setCustomValidity('What is the purpose of writing these 3 fields above if you\'re not gonna write a message?')"
            oninput="setCustomValidity('')"></textarea>
          <small>max 500 characters</small>
        </p>
      <input class="btn btn-primary" type="submit" value="Submit" id="Submit">
    </form>
    
  </body>
</html>
