<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Table Note</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'css/indexStyle.css' %}">
  </head>
  <body>
    <div class="heading1">
      <h1 class="text-center">Welcome to A Random Notes</h1>
      <small class="text-center">Wanna write yours? Click <a href="http://localhost:8000/lab-4/add-note/" style="text-decoration: none">"Add Note"</a></small>    
    </div>
    {% include "lab4_navbar.html" %}
    <table class="table table-bordered table-striped table-hover" id="notes_table">
      <tr>
        <th style="width: 13%">To</th>
        <th style="width: 13%">From</th>
        <th style="width: 13%">Title</th>
        <th style="width: 61%">Message</th>
      </tr>
      
      {% for note in notes %}
      <tr class="table-info notes-table">
        <td>{{note.to}}</td>
        <td>{{note.from_who}}</td>
        <td>{{note.title}}</td>
        <td>{{note.message}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
