<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Table Note</title>
    <style>
      body {
          background-image: linear-gradient(rgb(192, 236, 218), rgb(61, 211, 149));
          background-attachment: fixed;
      }

      #notes_table th{ 
          background-color: grey;
          color: white;
      }
      table {
          margin: auto;
          width: 90% !important; 
          table-layout: fixed
      }

      .heading1 {
          color: white; 
          background-image: linear-gradient(blue, rgb(88, 198, 235));
          padding: 15px;
          text-align: center;
          border-radius: 50px;
          
          margin-left: 10px;
          margin-right: 10px;
          margin-bottom: 10px;
      }

      .notes-table td {
          word-wrap: break-word;
          vertical-align: middle;
      }

      #notes_table{
          text-align: center;
      }

      .custom{
          width: 75px !important;
      }
      a:visited {
          color: white;
          background-color: transparent;
          text-decoration: none;
      }

      a:link {
          color: white;
          background-color: transparent;
          text-decoration: none;
      }

      a:hover {
          color: white!important;
          background-color: transparent;
          text-decoration: none;
      }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
  </head>
  <body>
    <div class="heading1">
      <h1 class="text-center">Welcome to A Random Notes</h1>
      <small class="text-center">Wanna write yours? Click <a href="http://localhost:8000/lab-4/add-note/" style="text-decoration: none">"Add Note"</a></small>    
    </div>
    {% include "lab4_navbar.html" %}
    <table class="table table-bordered table-striped table-hover" id="notes_table">
      <tr>
        <th style="width: 10%">To</th>
        <th style="width: 10%">From</th>
        <th style="width: 10%">Title</th>
        <th style="width: 40%">Message</th>
        <th style="width: 20%"> Action</th>
      </tr>
      
      <tr class="table-light notes-table">
        <td>{{note.to}}</td>
        <td>{{note.from_who}}</td>
        <td>{{note.title}}</td>
        <td>{{note.message}}</td>
        <div>
          <td>
            <a href="{{note.id}}"> <button class="btn btn-success custom view" role="button" aria-pressed="true">View </button></a>
            <a href="{{note.id}}/update"> <button class="btn btn-warning custom edit" role="button" aria-pressed="true">Edit</button></a>
            <a href="{{note.id}}/delete"> <button class="btn btn-danger custom delete" role="button" aria-pressed="true">Delete </button></a>
          </td>
        </div>
      </tr>
    </table>
  </body>
</html>
