<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Table Note</title>
    <style>
        body {
            background-image: linear-gradient(rgb(192, 236, 218), rgb(61, 211, 149));
            background-attachment: fixed;
        }

        #notes_table th{ 
            background-color: grey;
            color: white;
        }
        table {
            margin: auto;
            width: 90% !important; 
            table-layout: fixed
        }

        .heading1 {
            color: white; 
            background-image: linear-gradient(blue, rgb(88, 198, 235));
            padding: 15px;
            text-align: center;
            border-radius: 50px;
            
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .notes-table td {
            word-wrap: break-word;
            vertical-align: middle;
        }

        #notes_table{
            text-align: center;
        }

        .custom{
            width: 75px !important;
        }
        a:visited {
            color: white;
            background-color: transparent;
            text-decoration: none;
        }

        a:link {
            color: white;
            background-color: transparent;
            text-decoration: none;
        }

        a:hover {
            color: white!important;
            background-color: transparent;
            text-decoration: none;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
     integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
     crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="heading1">
      <h1 class="text-center">Welcome to A Random Notes</h1>
      <small class="text-center">Wanna write yours? Click "Add Note" Button</small>    
    </div>
    {% include "lab4_navbar.html" %}
    <table class="table table-bordered table-striped table-hover" id="notes_table">
      <tr>
        <th style="width: 10%">To</th>
        <th style="width: 10%">From</th>
        <th style="width: 10%">Title</th>
        <th style="width: 40%">Message</th>
        <th style="width: 20%"> Action</th>
      </tr>
      
      {% for note in notes %}
      <tr class="table-light notes-table" id="{{note.id}}">
        <td class="to noteData" name="to">{{note.to}}</td>
        <td class="from_who noteData" name="from_who">{{note.from_who}}</td>
        <td class="title noteData" name="title">{{note.title}}</td>
        <td class="message noteData" name="message">{{note.message}}</td>
          <td>
            <!-- <a href="{{note.id}}"> <button class="btn btn-success custom view" role="button" aria-pressed="true">View </button></a>
            <a href="{{note.id}}/update"> <button class="btn btn-warning custom edit" role="button" aria-pressed="true">Edit</button></a>
            <a href="{{note.id}}/delete"> <button class="btn btn-danger custom delete" role="button" aria-pressed="true">Delete </button></a> -->
            <!-- <button class="btn btn-success form-control custom" onClick="editUser({{note.id}})" data-bs-toggle="modal" data-bs-target="#myModal">EDIT</button>          -->
            <button class="btn btn-success custom view" type="button" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#myModal" 
           data-to="{{note.to}}"
           data-from="{{note.from_who}}"
           data-title="{{note.title}}"
           data-message="{{note.message}}">View</button>
          <button class="btn btn-warning custom edit" type="button" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Edit</button>
          <button class="btn btn-danger custom delete" type="button" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Delete</button>
          </td>
        </tr>
        {% endfor %}
        
          <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel">New message</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="updateUser" action="">
                    <input class="form-control" id="form-id" type="hidden" name="formId"/>
                    <div class="mb-3">
                      <label for="from_who" class="col-form-label">From:</label>
                      <input type="text" class="form-control" id="from-who" name="from_who" placeholder="Write your name/alias" 
                      maxlength="30" required pattern=".*\S.*"
                      oninvalid="this.setCustomValidity('Please write your name')"
                      oninput="setCustomValidity('')">
                    </div>
                    <div class="mb-3">
                      <label for="to" class="col-form-label">To:</label>
                      <input type="text" class="form-control" id="to" name="to" placeholder="Who is this message for?" 
                      maxlength="30" required pattern=".*\S.*" 
                      oninvalid="this.setCustomValidity('Please tell us <3')"
                      oninput="setCustomValidity('')">
                    </div>
                    <div class="mb-3">
                      <label for="title" class="col-form-label">Title:</label>
                      <input type="text" class="form-control" id="title" name="title" placeholder="Write the title here" 
                      maxlength="30" required pattern=".*\S.*"
                      oninvalid="this.setCustomValidity('Please write a title')"
                      oninput="setCustomValidity('')">
                    </div>
                    <div class="mb-3">
                      <label for="message" class="col-form-label">Message:</label>
                      <textarea class="form-control" id="message" name="message" cols="100" rows="5" placeholder="Write your messaage here" 
                      maxlength="30" required pattern=".*\S.*" 
                      oninvalid="this.setCustomValidity('Message cannot be empty')"
                      oninput="setCustomValidity('')"></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" >Save changes</button>
                </div>
              </div>
            </div>
          </div>
          
          <script>
          var exampleModal = document.getElementById('myModal')
          exampleModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var sender = button.getAttribute('data-from')
            var recipient = button.getAttribute('data-to')
            var message_title = button.getAttribute('data-title')
            var message = button.getAttribute('data-message')
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            var modalTitle = exampleModal.querySelector('.modal-title')
            var from = exampleModal.querySelector('#from-who')
            var to = exampleModal.querySelector('#to')
            var title = exampleModal.querySelector('#title')

            modalTitle.textContent = 'New message to ' + recipient
            from.value = sender
            to.value = recipient
            title.value = message_title

            $("#message").val(message);
          })
          </script>
          <!-- {% block javascript %}
          <script>
            $("#updateUser").submit(function() {
              var from = $('input[name="from_who"]').val().trim();
              var to = $('input[name="to"]').val().trim();
              var title = $('input[name="title"]').val().trim();
              var message = $('input[name="message"]').val().trim();
              if (from && to && title && message) {
                  // Create Ajax Call
                  $.ajax({
                      url: '{% url "crud_ajax_update" %}',
                      data: {
                          'from': from,
                          'to': to,
                          'title': title,
                          'message': message
                      },
                      dataType: 'json',
                      success: function (data) {
                          if (data.note) {
                            updateToUserTabel(data.note);
                          }
                      }
                  });
                } else {
                  alert("All fields must have a valid value.");
              }
              $('#updateUser').trigger("reset");
              $('#myModal').modal('hide');
              return false;
          });

          function editUser(id) {
            if (id) {
              tr_id = id;
              to = $(tr_id).find(".to").text();
              from = $(tr_id).find(".from_who").text();
              title = $(tr_id).find(".title").text();
              $('#form-id').val(id);
              $('#to').val(to);
              $('#from-who').val(from);
              $('#title').val(title);
            }
          }

          function updateToUserTabel(user){
            $("#notes_table #" + user.id).children(".noteData").each(function() {
                var attr = $(this).attr("from_who");
                if (attr == "from") {
                  $(this).text(user.from);
                } else if (attr == "to") {
                  $(this).text(user.to);
                } else if (attr == "title") {
                  $(this).text(user.title);
                } else {
                  $(this).text(user.message);
                }
              });
          }
          </script>
          {% endblock javascript %} -->

      
    </table>
  </body>
</html>
