<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend Form</title>
    <style>
      body {
        background-image: linear-gradient(280deg, rgb(201, 247, 225), rgb(61, 211, 149));
        background-attachment: fixed;
      }

      .heading1 {
        color: white; 
        background-image: linear-gradient(blue, rgb(88, 198, 235));
        padding: 15px;
        text-align: center;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
      }

      ::-webkit-input-placeholder {
        font-size: 14px;
      }

      label{
        padding: 3px 6px; /*row col */
        text-align: right;
        width: 150px;
        vertical-align: top; /*tulisan Message tetap di atas */
      }

      

      #Submit {
        position: relative;
        top: -15px;
        left: 155px;
      }

      a:hover {
        color: white!important;
        background-color: transparent;
        text-decoration: none;
      }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
  </head>
  <body>
    <div class="heading1">
      <h1>Note Form</h1>
      <small>Wanna confide or confess? Write it here 😉</small>
    </div>
    {% include "lab4_navbar.html" %}
    <form action="" method="POST" >
      {% csrf_token %}
        <p>
          <label for="from_who">From:</label>
          <input type="text" id="from_who" name="from_who" value="{{note.from_who}}"
           placeholder="Write your name/alias" maxlength="30" required pattern=".*\S.*"
           oninvalid="this.setCustomValidity('Please write your name')"
           oninput="setCustomValidity('')">
        </p>
        <p>
          <label for="to">To:</label>
          <input type="text" id="to" name="to" value="{{note.to}}"
           placeholder="Who is this message for?" maxlength="30" required pattern=".*\S.*"
           oninvalid="this.setCustomValidity('Please tell us <3')"
           oninput="setCustomValidity('')">
        </p>
        <p>
          <label for="title" >Title:</label>
          <input type="text" id="title" name="title" value="{{note.title}}"
           placeholder="Write the title here" maxlength="30" required pattern=".*\S.*"
           oninvalid="this.setCustomValidity('Please write a title')"
           oninput="setCustomValidity('')">
        </p>
        <p>
          <label for="messages" class="form-label">Message:</label>
          <textarea  id="message" name="message" cols="100" rows="5"
           placeholder="Write your message here" maxlength="500" required pattern=".*\S.*"
           oninvalid="this.setCustomValidity('What is the purpose of writing these 3 fields above if you\'re not gonna write a message?')"
           oninput="setCustomValidity('')">{{note.message}}</textarea>
          <small>max 500 characters</small>
        </p>
      <input class="btn btn-primary" type="submit" value="Update" id="Submit">
    </form>
    
  </body>
</html>
