.row > .card {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0.85;
    margin: 25px;
    text-align:center;
}

.row {
  padding-left: 25px;
}

.heading1{
  background-image: linear-gradient(to right, rgb(61, 211, 149), rgb(176, 226, 205), rgb(61, 211, 149));
}
.heading2{
    color: white; 
    background-image: linear-gradient(blue, rgb(88, 198, 235));
    padding: 15px;
    text-align: center;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white!important;
  background-color: transparent;
  text-decoration: none;
}