body {
    background-image: linear-gradient(280deg, rgb(201, 247, 225), rgb(61, 211, 149));
    background-attachment: fixed;
}

.heading1 {
    color: white; 
    background-image: linear-gradient(blue, rgb(88, 198, 235));
    padding: 15px;
    text-align: center;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

::-webkit-input-placeholder {
    font-size: 14px;
}

label{
    padding: 3px 6px; /*row col */
    text-align: right;
    width: 150px;
    vertical-align: top; /*tulisan Message tetap di atas */
}

#Submit {
    position: relative;
    top: -15px;
    left: 155px;
}

a:hover {
    color: white!important;
    background-color: transparent;
    text-decoration: none;
}