body {
    background-image: linear-gradient(rgb(192, 236, 218), rgb(61, 211, 149));
    background-attachment: fixed;
}

#notes_table th{ 
    background-color: grey;
    color: white;
}
table {
    margin: auto;
    width: 80% !important; 
    table-layout: fixed
}

.heading1 {
    color: white; 
    background-image: linear-gradient(blue, rgb(88, 198, 235));
    padding: 15px;
    text-align: center;
    border-radius: 50px;
    
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.notes-table td {
    word-wrap: break-word;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white!important;
    background-color: transparent;
    text-decoration: none;
}